%h3 Mailing List

%p
  If you would like to join our mailing list and receive a regular newsletter
  containing news items, hints & tips, inspiration and advanced notification or
  new workshops, please fill in your email address here:

= render 'form'
