*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

/config/secret.yml
/config/database.yml
/public/.htaccess

# Ignore  assets
/public/system/*
/public/assets/*
/public/ckeditor_assets/

public/400.shtml
public/401.shtml
public/403.shtml
public/404.shtml
public/500.shtml
public/default.html


