
%h1 Welcome to my Home Page!

%p
  This is work in progress. More complete version of the site can be found on:
  %br
  = link_to "Developer's page", 'http://chrisbeardimages-jpod.rhcloud.com/', :target => :blank