<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have got new email</h1>
    <p>
      from: <%= @message.from %>
      <br>
      subject: <%= @message.subject %>      
    </p>
    <p>
      <%= @message.message %>
    </p>
  </body>
</html>
