%p#notice= notice

%div{:style => 'max-width: 600px; margin: 0 auto;'}
  %p    
    = raw @newsletter.content

- if current_admin    
  = link_to 'Edit', edit_newsletter_path(@newsletter) 
  \|
  = link_to 'Back', newsletters_path
