<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for registering for the regular newsletter</h1>
    <p>
      I hope you enjoy it and find it useful.
    </p>
    <p>
      Once again I would like to assure you that your contact details will not be passed on to anyone else.
    </p>
    <p>Chris</p>
  </body>
</html>
