deployment:
  user: username
  password: secret
email:
  admin_email: admin@example.com
  cc: other@example.com
email_server:
  address: mail.example.com
  user_name: info@example.com
  password: secret
