
    You have received this email, either because you have attanded one of my workshops, or have registered for it via my website. 
    If you wish to unsubscribe please
    <%= link_to 'click here', full_unsubscribe_path %>.
    <br>
    <br>
    <div style="text-align:center;">
      All content of this email is copyright Chris Bears Images 2013
    </div>
