    <img alt="logo" style="float: left;" src="http://chrisbeard-images.com/assets/logo.jpg">

    <h3>CHRIS BEARD IMAGES</h3>

    <div style="float:right;">
      Newsletter
      <%= @message.subject %>
    </div>

    If you are having trouble viewing this newsletter, please click here to open it in your web browser.
