<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= render :partial => 'newsletter_mailer/before.html.erb', :locals => {:subject => @message.subject, :newsletter_id => @message.id} %>

    <%= raw @message.content.gsub('src="/', 'src="http://chrisbeard-images.com/' ) %>

    <%= render :partial => 'newsletter_mailer/after.html.erb', :locals => {:full_unsubscribe_path => @unsubscribe_me} %>

  </body>
</html>
