<!DOCTYPE html>
<html>  
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="width: 641px;">
      <div>
	Newsletter
	<br>
	<%= @message.subject %>
      </div>
      <div style="text-align: center;">
	<h3>Chris Beard Images</h3>
      </div>

      <div style="height: 70px; text-align: center; background-image: url(http://chrisbeard-images.com/assets/logo.jpg); background-repeat: no-repeat; background-position: -16px -16px;">	
      </div>
      
      <div style="clear :both;"></div>
      <p style="font-size: 13px;">
	If you are having trouble viewing this newsletter, please 
	<%= link_to 'click here',"http://chrisbeard-images.com/newsletters/#{@message.id}" %> to open it in your web browser.
      </p>
      
      <%= raw @message.content.gsub('src="/', 'src="http://chrisbeard-images.com/' ) %>
      
      <p style="font-size: 13px">
	You have received this email, either because you have attanded one of my workshops, or have registered for it via my website. 
	If you wish to unsubscribe please
	<%= link_to 'click here', @unsubscribe_me %>.
      </p>
      <br>
      <br>
      <div style="text-align:center; font-size: 12px;">
	All content of this email is copyright Chris Bears Images 2013
      </div>
    </div>        
  </body>
</html>
