// Place all the styles related to the CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#shopping-cart{
  border-collapse: collapse;
  border-spacing: 0;
  tr.odd{
    td{
      background:darken(white,2%);
      }
    }
  tr.even{
    td{
      background:darken(white,0.5%);
      }
    }
  tr{
    td{
      border-spacing:5px;
      text-align:right;
      padding-right: 0.5em;
      border: 0;
      }
      td.size{margin-left:10px;
        }
      td.quantity{padding-left:60px;}
      td.price{padding-left:100px;}
      td.total{padding-left:130px;
        font-weight:bold;
        }
      td.change{padding-left:110px;}
    }
  }
