// Place all the styles related to the ContactMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$contact-width:315px;
#new_contact_message{
  margin-bottom:2em;
  div.field{
    label{
      
      }
    input{max-width:300px;
  

      }
    textarea{width:305px;
      }
    }
  div.actions{
    input{max-width:315px;
      }
    }
  }