// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#social_buttons > a {
  text-decoration: none;
}

.show-edit-delete{clear:both;
  margin:0.5em;
  }  

.post-teaser{display:inline-block;
  border:solid darken(white,20%) 1px;
  margin-top:1em;
  padding:0.75em;
  width:97%;
  background:#fafafa;
  img{float:left;
    margin-right: 25px;
    margin-bottom:0px;
    }

  .teaser-more{font-size:12px;
    font-style:italic;
    text-decoretion:none;
    display:inline;
    a{white-space:nowrap;
     display:inline-block;}
    .buttons{display:inline-block;
        float:right;
        overflow-y:none;
        height:2em;
        .comment-count{display:inline-block;
                       margin-right:35px;}

            }
              }

  h3.post-title{float:left;
    margin-top: 0px;
    }
    
  p.post-date{float:right;
    font-weight: bold;
    margin-top: 0px;
    }
  .comment-count{font-size: 14px;
                 white-space:nowrap;
                 vertical-align:middle;
                 position:relative;
                 top:-6px;
                 }
  }


#comment_content{
  height:10em;
  width:40em;
  }

span.published{
    color:red;
    padding:1em;
}

.scaffold-bottom-links a{
    margin-right:15px;
}

.comment{
    border: solid #ccc 1px;
    background: darken(white,3%);
    padding:1em;
    margin-bottom: 1em;
    .comment_time{
        font-size: 0.75em;
        text-align:right;
    }
}


#pin-it img {
    margin-bottom: 14px;
}
.twitter-share-button {
    margin-bottom: 1px;
}
.fb-like{
    //border:solid red 1px;
}

/* code for lining up social buttons*/
nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left; overflow:hidden;}
nav.share iframe {max-height:20px; border:0; margin-top:0; padding-top:0;} 
/* if using medium sized buttons */
#___plusone_0 {max-width:70px; font-size: default !important; }
.twitter-share-button, .twitter-count-horizontal {max-width:80px;}
.fb_iframe_widget span {top:-6px;
 vertical-align: top !important; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/