// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#social_buttons > a {
  text-decoration: none;
}

.show-edit-delete{clear:both;
  margin:0.5em;
  }  

.post-teaser{display:inline-block;
  border:solid darken(white,20%) 1px;
  margin-top:1em;
  padding:0.75em;
  width:97%;
  background:#fafafa;
  img{float:left;
    margin-right: 25px;
    margin-bottom:0px;
    }

  .teaser-more{font-size:12px;
    font-style:italic;
    text-decoretion:none;
    display:inline;
    a{white-space:nowrap;
     display:inline-block;}
    div{display:inline-block;}
    }

  h3.post-title{float:left;
    margin-top: 0px;
    }
    
  p.post-date{float:right;
    font-weight: bold;
    margin-top: 0px;
    }
  .comment-count{font-size: 10px;
                 white-space:nowrap;
                 }
  }


#comment_content{
  height:10em;
  width:40em;
  }

span.published{
    color:red;
    padding:1em;
}

.scaffold-bottom-links a{
    margin-right:15px;
}

.comment{
    border: solid #ccc 1px;
    background: darken(white,3%);
    padding:1em;
    margin-bottom: 1em;
    .comment_time{
        font-size: 0.75em;
        text-align:right;
    }
}


#pin-it img {
    margin-bottom: 14px;
}
.twitter-share-button {
    margin-bottom: 1px;
}
.fb-like{
    //border:solid red 1px;
}