// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#taglist{
  ul{list-style: none outside none;}
  a{text-decoration:none;}
}
  
.category_name{
  color:red;
  font-size:10px;
  }
  
ul#category-photos{
  list-style: none outside none;
  width:730px;
  display:inline-block;
  margin-top:0px;
  padding-top:0px;
  padding-left:0px;
  li{
    a{text-decoration:none;}
    float:left;
    margin: 0px 0px 20px 25px;

    }
    li.col-0{
      margin-left:0px;
    }
  }

div.photo-frame{
  background:#eeeeee;
  text-align:center;
  .photo-div{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width:220px;
    height:150px;
    line-height:150px;
    overflow:hidden;
    vertical-align:middle;
    img{
      vertical-align:middle;
    }
  }
  .caption{
    font-size:13px;      
    text-decoration:none;
    }          
  }    
