%img{:border =>"0", :src => "//shield.sitelock.com/shield/chrisbeard-images.com", :id => "sl_shield_image", :style => "cursor: pointer;"}
%script{ :id => "sl_shield", :src => "//shield.sitelock.com/sitelock.js", :language => "javascript"}
